<div id="circle-green">
<br>
  <div class="container mt-3 text-center">
      <%= image_tag("https://res.cloudinary.com/dd6jjbnqk/image/upload/v1702381580/BP_Logos/Logos_DEF_SVG_TRANSP/PB_Logo_Name_Inline_pink_n1bdgg.svg", width: 300, height: 100) %>
  </div>
<div class="container chatroom mt-50" data-controller="private-chatroom-subscription"
  data-private-chatroom-subscription-chatroom-id-value="<%= @private_chatroom.id %>"
    data-private-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

  <div class="messages" data-private-chatroom-subscription-target="messages">
    <div class="container text-center">
      <p><strong> Bienvenue dans la discussion avec "<%= @other_user.nickname %>" </strong></p>
    </div>

  <% @private_chatroom.private_messages.each do |message| %>
  <div class="message-row">
    <% if message.sender?(current_user) %>
      <div class="avatar-message">
        <%= link_to buddy_path(message.user) do %>
          <%= image_tag("avatars/#{message.user.avatar}", class: 'avatar-message') %>
        <% end %>
      </div>
      <div class="message-content sender-style">
        <%= render "private_messages/private_message", private_message: message %>
      </div>
    <% else %>
      <div class="message-content receiver-style">
        <%= render "private_messages/private_message", private_message: message %>
      </div>
      <div class="avatar-message">
        <%= link_to buddy_path(message.user) do %>
          <%= image_tag("avatars/#{message.user.avatar}", class: 'avatar-message') %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

  </div>
  <div class="message-form">
    <%= simple_form_for [@private_chatroom, @private_message],
      html: { data: { action: "turbo:submit-end->private-chatroom-subscription#resetForm" },
      class: "d-flex" }  do |f| %>
      <%=f.text_area :content, as: :text, label: false, size: 3, class: "custom-text-field",
      placeholder: "Ecrire un message @#{@other_user.nickname}", class:"input2"%>
      <button class="plane" type="submit">
        <i class="fa-solid fa-paper-plane fa-xl"></i>
      </button>
    <% end %>
  </div>
</div>
