<div class="container" data-controller="signup-form">
<h2>Crées ton compte </h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                :label => 'Mot de passe',
                required: true,
                hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                :label => 'confirmation du mot de passe',
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :first_name,
                :label => 'Prénom',
                required: true %>
    <%= f.input :last_name,
                :label => 'Nom',
                required: true %>
    <%= f.input :nickname,
                :label => 'Pseudo',
                required: true %>
    <%= f.input :address,
                :label => 'Ville',
                required: true %>
    <%= f.input :description,
                :label => 'Description',
                hint: "Explique nous pourquoi tu t'inscris sur ParkBuddies"
                %>
    <%= f.input :kids_count,
                :label => 'Nombre d\'enfant(s)',
                as: :select,
                collection: 1..7,
                required: true %>
    <%= f.input :kids_average_age,
                label:'Age des enfant(s)',
                as: :check_boxes,
                collection: 1..10,
                required: true,
                input_html:{data: {action: "change->signup-form#calculateAverage", signup_form_target: "input"}}%>
    <%= f.input :kids_average_age,
                as: :hidden,
                input_html:{data: {signup_form_target: "hiddenInput"}}
                %>
  </div>

  <div class="form-actions">
  <%= f.button :submit,"Rejoins la communauté", class:"btn-text-noir" %>
  </div>
<% end %>
</div>
