<div class="flex">
    <%if @park.sandbox === true  %>
      <%= @park.sandbox %>
    <% end %>
    <%if @park.slide === true  %>
      <%= @park.slide %>
    <% end %>
     <%if @park.sling === true  %>
      <%= @park.sling %>
    <% end %>
    <%if @park.water === true  %>
      <%= @park.water %>
    <% end %>
    <%if @park.climber === true  %>
      <%= @park.climber %>
    <% end %>
    <%if @park.coffee === true  %>
      <%= @park.coffee %>
    <% end %>
    <%if @park.zoo === true  %>
      <%= @park.zoo %>
    <% end %>
    <%if @park.toys_rent === true  %>
      <%= @park.toys_rent %>
    <% end %>
  </div>
