
<br>
<div class="container mt-3 text-center">
      <h1>ParkBuddies</h1>
</div>
<br>
<div class="container card-wrap">
  <div style="width: 100%; height: 300px; p-20" class="formatmap"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
  <br>
<div class="container">
  <div class="card-wrap cards">
    <% @parks.each do | park | %>
      <%= link_to park_path(park), class:"text-decoration-none", style:"color: inherit" do %>
        <div class="card-park">
          <%= cl_image_tag park.photo.key %>
          <div class="card-park-infos">
            <h5 class="card-title"><%= park.name %></h5>
            <p> <%= truncate(park.description, length:100) %></p>
            </div>
        </div>
      <% end %>
      <% end %>
  </div>
</div>
