
<br>
<div class="container mt-3 text-center">
      <h1>ParkBuddies</h1>
</div>
<div class="container mt-3 text-center">
    <%= form_with url: parks_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "input",
            placeholder: "Chercher un parc"
        %>
        <button class="loupe" type="submit">
          <i class="fa-solid fa-magnifying-glass" style="color: #7f7f7f;"></i>
        </button>
    <% end %>
  </div>
<div class="container card-wrap">
  <div style="width: 100%; height: 300px; p-20" class="formatmap"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
  <br>
<div class="container">
    <% @parks.each do | park | %>
      <%= link_to park_path(park), class:"text-decoration-none", style:"color: inherit" do %>
        <div class="card-park">
          <%= cl_image_tag park.photo.key %>
          <div class="card-park-infos">
            <h5 class="card-title"><%= park.name %></h5>
            <p> <%= truncate(park.description, length:100) %></p>
            </div>
        </div>
      <% end %>
      <% end %>
</div>
