<h1>ParkBuddies</h1>
<div class="container cards">
  <div style="width: 500px; height: 200px; p-20" class="formatmap"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <div>
    <%if @park.photo.attached?  %>
      <%= cl_image_tag @park.photo.key, class: "photo"%>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="flex">
    <h2><%= @park.name %></h2>
    <div class="flex-end">
      <i class="fa-regular fa-heart fa-lg" style="color: #ff1a1a;"></i>
    </div>
  </div>
  <p><%= @park.description %></p>
  <div class="flex">
    <%= @park.category %>
    <%= @park.suitable_from_age %>
  </div>
  <%= render "option"  %>
</div>
