<div class="container mt-3 text-center">
  <%= image_tag("https://res.cloudinary.com/dd6jjbnqk/image/upload/v1702043714/BP_Logos/Logo_3_svg_transp/PB_Logo_Full_Inline_Color_qripy8.svg", width: 400, height: 150) %>
</div>
<br>
<div class="container map-flex">
  <div style="width: 300px; height: 250px; p-20; flex-shrink: 0;" class="formatmap"
    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div>
    <%if @park.photo.attached?  %>
      <%= cl_image_tag @park.photo.key, class: "photo"%>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="flex-between mt-5 mb-2">
    <h2><%= @park.name %></h2>
    <% if @favorite.persisted? %>
      <%= link_to @favorite, data: {turbo_method: :delete} do %>
          <i class="fa-solid fa-heart fa-xl" style="color: #F28482;"></i>
      <% end  %>
    <% else %>
      <%= link_to [@park, @favorite], data: {turbo_method: :post} do %>
        <i class="fa-regular fa-heart fa-xl" style="color: #F28482;"></i>
      <% end %>
    <% end %>
  </div>

  <div class="flex">
    <div class="type">
      <%= @park.category %>
    </div>
    <div class="type">
    <%= @park.suitable_from_age %> ans et +
    </div>
  </div>
    <p class="mt-2"style="text-align: justify; padding:8px"><%= @park.description %></p>
  <%= render "option"  %>
  <br>
  <%= link_to "ChatRoom", chatroom_path, class: "btn-large" %>
  <br>
</div>
