<div id="circle-green-petit">
<br>
<div style="min-height: 620px">
  <div class="container mt-3 text-center">
    <div class="logo-profile">
      <%= image_tag("https://res.cloudinary.com/dd6jjbnqk/image/upload/v1702381580/BP_Logos/Logos_DEF_SVG_TRANSP/PB_Logo_Name_Inline_pink_n1bdgg.svg", width: 400, height: 200) %>
    </div>
      <br>
      <br>
    <%= form_with url: chatrooms_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "input",
            placeholder: "Chercher une discussion"
        %>
        <button class="loupe-index" type="submit">
          <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #7f7f7f;"></i>
        </button>
    <% end %>
  </div>

<% if @chatrooms.any? %>
  <% @chatrooms.distinct.each do |chatroom| %>
    <% last_message = chatroom.messages.last %>
    <%= link_to chatroom_path(chatroom), class: "text-decoration-none", style: "color: inherit" do %>
      <div class="card-chatroom">
        <% if last_message %>
        <div class="chatroom-infos">
          <p><strong style="color:#EF476F"><%= chatroom.name %></strong></p>
          <p><%= last_message.user.nickname %>: <%= last_message.content %></p>
        </div>
        <p class="timestamp", style="padding-right: 10px;"><%= last_message.created_at.in_time_zone('CET').strftime('%H:%M') %></p>
        <% else %>
        <div class="chatroom-infos">
          <p><strong><%= chatroom.name %></strong></p>
          <p>No messages yet</p>
        </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>Vous n'avez pas encore de chatroom pour Parc</p>
<% end %>
<%# début private_chatroom %>
<% if @private_chatrooms.present? && @private_chatrooms.any? %>
  <% @private_chatrooms.distinct.each do |chatroom| %>
    <% last_message = chatroom.private_messages.last %>
    <%= link_to show_private_chatrooms_path(chatroom.user_2), class: "text-decoration-none", style: "color: inherit" do %>
      <div class="card-chatroom">
        <% if last_message %>
        <div class="chatroom-infos">
          <p><strong style="color:#EF476F"><%= chatroom.name %></strong></p>
          <p><%= last_message.user.nickname %>: <%= last_message.content %></p>
        </div>
        <p class="timestamp", style="padding-right: 10px;"><%= last_message.created_at.in_time_zone('CET').strftime('%H:%M') %></p>
        <% else %>
        <div class="chatroom-infos">
          <p><strong style="color:#EF476F"><%= chatroom.name %></strong></p>
          <p>No messages yet</p>
        </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>Vous n'avez pas encore de chatroom Privé</p>
<% end %>
<%# fin private_chatroom %>
</div>
