<div id="circle-green-petit">
<br>
<div class="container mt-3 text-center">
      <%= image_tag("https://res.cloudinary.com/dd6jjbnqk/image/upload/v1702043722/BP_Logos/Logo_3_svg_transp/PB_Logo_Name_Inline_pink_rj8uwh.svg", width: 300, height: 100) %>
      <br>
    <%= form_with url: chatrooms_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "input",
            placeholder: "Chercher une chatroom"
        %>
        <button class="loupe" type="submit">
          <i class="fa-solid fa-magnifying-glass" style="color: #7f7f7f;"></i>
        </button>
    <% end %>
  </div>

<% if @chatrooms.any? %>
  <% @chatrooms.distinct.each do |chatroom| %>
    <% last_message = chatroom.messages.last %>
    <%= link_to chatroom_path(chatroom), class: "text-decoration-none", style: "color: inherit" do %>
      <div class="card-chatroom">
        <% if last_message %>
        <div class="chatroom-infos">
          <p><strong><%= chatroom.name %></strong></p>
          <p><%= last_message.user.nickname %>: <%= last_message.content %></p>
        </div>
        <p class="timestamp", style="padding-right: 10px;"><%= last_message.created_at.in_time_zone('CET').strftime('%H:%M') %></p>
        <% else %>
        <div class="chatroom-infos">
          <p><strong><%= chatroom.name %></strong></p>
          <p>No messages yet</p>
        </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>No chatrooms found</p>
<% end %>
