<div class="container">
  <div class="col-sm-8 my-3">
    <%= form_with url: chatrooms_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "input",
            placeholder: "Chercher une chatroom"
        %>
        <button class="loupe" type="submit">
          <i class="fa-solid fa-magnifying-glass" style="color: #7f7f7f;"></i>
        </button>
    <% end %>
  </div>
</div>
<% if @chatrooms.any? %>
  <% @chatrooms.each do |chatroom| %>
    <% last_message = chatroom.messages.last %>
    <%= link_to chatroom_path(chatroom), class: "text-decoration-none", style: "color: inherit" do %>
      <div class="card-chatroom">
        <% if last_message %>
        <div class="chatroom-infos">
          <p><strong><%= chatroom.name %></strong></p>
          <p><%= last_message.user.nickname %>: <%= last_message.content %></p>
        </div>
          <p class="timestamp"><%= last_message.created_at.strftime('%H:%M') %></p>
        <% else %>
        <div class="chatroom-infos">
          <p><strong><%= chatroom.name %></strong></p>
          <p>No messages yet</p>
        </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>No chatrooms found</p>
<% end %>
