
<div class="container chatroom mt-50" data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">


  <div class="messages" data-chatroom-subscription-target="messages"%>
    <div class="container text-center">
      <p><strong><%= @chatroom.name %> chatroom</strong></p>
    </div>

    <% @chatroom.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="message-form">
    <%= simple_form_for [@chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" },
      class: "d-flex" }  do |f| %>
      <%=f.input :content, label: false,
      placeholder: "Ecrire un message @#{@chatroom.name}",
      wrapper_html: {class:"input2"} %>
      <%# OU !!! a voir demain en ticket si possible <textarea class="input2" placeholder="Ecrire un message @Parc de Milan" name="message[content]" id="message_content"></textarea>%>

      <button class="loupe" type="submit">
        <i class="fa-solid fa-paper-plane fa-xl" style="color: #7f7f7f;"></i>
      </button>
    <% end %>
  </div>
</div>
