<div id="circle-green">
<br>
  <div class="container mt-3 text-center">
      <%= image_tag("https://res.cloudinary.com/dd6jjbnqk/image/upload/v1702381580/BP_Logos/Logos_DEF_SVG_TRANSP/PB_Logo_Name_Inline_pink_n1bdgg.svg", width: 500, height: 300) %>
  </div>
<div class="container chatroom mt-50" data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

  <div class="messages" data-chatroom-subscription-target="messages"%>
    <div class="container text-center">
      <p><strong> Bienvenue dans la discussion "<%= @chatroom.park.name %>" </strong></p>
    </div>

  <% @chatroom.messages.each do |message, avatar| %>
    <div class="message-row">
          <%= render "messages/message", message: message, avatar: avatar%>
    </div>
  <% end %>

  <div class="message-form">
    <%= simple_form_for [@chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" },
      class: "d-flex" }  do |f| %>
      <%=f.text_area :content, as: :text, label: false, size: 3, class: "custom-text-field",
      placeholder: "Ecrire un message @#{@chatroom.name}", class:"input2"%>
      <button class="plane" type="submit">
        <i class="fa-solid fa-paper-plane fa-xl"></i>
      </button>
    <% end %>
  </div>
