<div id="circle-green">
<br>
  <div class="container mt-3 text-center">
       <%= image_tag("https://res.cloudinary.com/dd6jjbnqk/image/upload/v1702043722/BP_Logos/Logo_3_svg_transp/PB_Logo_Name_Inline_pink_rj8uwh.svg", width: 300, height: 100) %>
  </div>
<div class="container chatroom mt-50" data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

  <div class="messages" data-chatroom-subscription-target="messages"%>
    <div class="container text-center">
      <p><strong> Bienvenue dans la discussion "<%= @chatroom.name %>" </strong></p>
    </div>

    <% @chatroom.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="message-form">
    <%= simple_form_for [@chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" },
      class: "d-flex" }  do |f| %>
      <%=f.text_area :content, as: :text, label: false, size: 3, class: "custom-text-field",
      placeholder: "Ecrire un message @#{@chatroom.name}", class:"input2"%>
      <button class="plane" type="submit">
        <i class="fa-solid fa-paper-plane fa-xl"></i>
      </button>
    <% end %>
  </div>
