<div id="circle-coral">
  <br>
  <div class="container mt-3 text-center">
  <div class="logo-profile">
    <%= image_tag("https://res.cloudinary.com/dd6jjbnqk/image/upload/v1702381580/BP_Logos/Logos_DEF_SVG_TRANSP/PB_Logo_Name_Inline_green_jezsjo.svg", width: 300, height: 100) %>
  </div>
  </div>
  <% if @buddy.avatar.present? %>
  <%= image_tag("avatars/#{@buddy.avatar}", alt: "Avatar", class:"avatar-centered") %>
<% end %>

</div>
  <div class="container">
    <div class="row">
        <div class="center mt-5">
          <h2><strong><%= @buddy.nickname %></strong></h2>
        </div>
    </div>
  </div>


  <ul class="nav justify-content-center" id="mybuddyTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button style="margin-right: 105px;" class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">PROFIL</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">AVIS</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="fond-gray pt-4 pb-5 ">
        <div class="container card-simple">
          <p><strong style="color:#EF476F">À propos de <%= @buddy.nickname %> </strong> <br>
          <%= @buddy.description %></p>
          <p><i class="fa-solid fa-city p-2" style="color: #EF476F;"></i><%= @buddy.address %></p>
          <p><strong style="color:#EF476F">Ses enfants ont : </strong> <%= @buddy.kids_average_age %> ans (en moyenne)</p>
        </div>
        <br>
        <div class="container">
        <%= link_to "Discuter", show_private_chatrooms_path(buddy_id: @buddy.id), class: "btn-large-corail" %>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="fond-gray pt-4 pb-5">
      <div class="container card-simple">
        <div class="container mt-1">
        <p><strong style="font-size:18px"> Donne ton avis sur : </strong> <%=@buddy.nickname %> <br>
        </div>
        <div class="container mt-1">
          <div class="row">
            <div class="col-xs-4">
              <%= simple_form_for [@buddy, @review], url: buddy_reviews_path do |f| %>
                <%= f.input :rating, label: "Sélectionne les étoiles", collection: (1..5).to_a, input_html: {data: {controller: "star-rating"}} %>
                <%= f.button :submit, "Valide ton avis", class:"btn-neutre" %>
              <% end %>
              </div>
              </div>
              </div>
            <div class="container mt-3">
              <div class="row">
                <div class="col-xs-4">
                <p><strong style="font-size:18px"> Moyenne des avis sur : </strong> <%=@buddy.nickname %> <br>
                  <% if @buddy.reviews == [] %>
                    <p> Cet utilisateur n'a pas encore d'avis</p>
                  <% else %>
                <% end %>
                    <p><% @average.round.to_i.times do %>
                      <span> <%= image_tag("stars/star-full.svg", style: "width: 20px; height: 20px;")%> </span>
                        <% end %>
                    </p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
