<div id="circle-green">
<br>
  <div class="container mt-3 text-center">
      <h1>ParkBuddies</h1>
  </div>
  <%= image_tag "https://static.vecteezy.com/system/resources/previews/018/765/757/original/user-profile-icon-in-flat-style-member-avatar-illustration-on-isolated-background-human-permission-sign-business-concept-vector.jpg", style: "width: 100px; height: 100px; margin-left: 40%;margin-top:50px; border-radius: 50%; background-color:none !important" %>

</div>
  <div class="container">
    <div class="row">
        <div class="col">
        <%= link_to  destroy_user_session_path, data: {turbo_method: :delete}  do%>
          <i class="fa-solid fa-right-from-bracket fa-2xl" style="color: #000000;"></i>
        <% end %>
        </div>
      <div class="col">
          <%= link_to  edit_user_registration_path(@user), class:"text-decoration-none", style:"color: inherit" do%>
          <i class="fa-solid fa-gear fa-2xl mt-2 d-flex justify-content-end" style="color: #000000;"></i>
          <% end %>
        </div>
        <div class="center mt-5">
          <h2><strong><%= @user.nickname %></strong></h2>
        </div>
    </div>
  </div>


  <ul class="nav justify-content-center" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button style="margin-right: 105px;" class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">PROFIL</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">PARCS FAVORIS</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="fond-gray pt-4 pb-5 ">
        <div class="container card-simple">
          <p><i class="fa-solid fa-person p-2 fa-xl" style="color: #f28482;"></i> <%= @user.description %></p>
          <p><i class="fa-solid fa-city p-2" style="color: #f28482;"></i><%= @user.address %></p>
          <p> <strong>Âge moyen de vos enfants :</strong> <%= @user.kids_average_age %></p>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="fond-gray pt-4 pb-5">
      <% if current_user.favorites.any? %>
        <div class="container">
          <% current_user.favorites.each do |favorite| %>
              <%= link_to park_path(favorite.park), class: "text-decoration-none", style: "color: inherit; height:100%" do %>
                <div class="card-park position-relative" style="height:105px">
                  <%= cl_image_tag favorite.park.photo.key %>
                  <div class="card-park-infos">
                    <h5 class="card-title"><%= favorite.park.name %></h5>
                    <p><%= truncate(favorite.park.description, length: 100) %></p>
                    <% if favorite.persisted? %>
                      <%= link_to favorite, data: {turbo_method: :delete} do %>
                          <i class="fa-solid fa-heart fa-lg" style="color: #F28482;"></i>
                      <% end  %>
                    <% else %>
                      <%= link_to [@park, favorite], data: {turbo_method: :post} do %>
                        <i class="fa-regular fa-heart fa-lg" style="color: #F28482;"></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
          <% end %>
        </div>
      <% else %>
        <p>Aucun parc favori pour le moment.</p>
      <% end %>
    </div>
  </div>

</div>
