<div class="container">
  <div class="profile-intro">
    <div class="center pt-5">
      <h2><%= @user.nickname %></h2>
    </div>
      <%= link_to  user_path(@user), class:"text-decoration-none", style:"color: inherit" do%>
      <i class="fa-solid fa-gear d-flex justify-content-end"></i>
      <% end %>
    <div class="d-flex bd-highlight">
      <div class="me-auto bd-highlight">
        <p>Profil</p>
      </div>
      <div class="bd-highlight">
        <p>Parcs favoris</p>
      </div>
    </div>
  </div>

  <div class="fond-gray pt-3 pb-5 ">
    <div class="container card-simple mt-1 mb-4 ">
      <p>Description : <%= @user.description %></p>
      <p>Ville : <%= @user.address %></p>
      <p>Âge moyen de vos enfants : <%= @user.kids_average_age %></p>
    </div>
  </div>
</div>
