  <div class="banner" style="background-image: url(https://images.unsplash.com/photo-1590509990541-edf999edee33?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
    <div class="container">
      <%= image_tag("https://res.cloudinary.com/dd6jjbnqk/image/upload/v1702048400/BP_Logos/Logo_3_svg_transp/PB_LAST_Logo_Full_gjbo8y.svg", width: 300, height: 200, class:"logo-banner")%>
      <br>
      <div class="text-shadow">
        <p>L'appli qui transforme les parcs  en terrains d'amitié</p>
        <p><strong>Connectez, Rencontrez, Partagez</strong></p>
      </div>
      <br>
      <div class="col-md-4 text-center">
        <% if user_signed_in? %>
          <%= link_to "Voir les parcs", parks_path, class: "btn-vert-rond"%>
        <% else %>
          <%= link_to "S'inscrire", new_user_registration_path, class:"btn-text-noir" %>
          <%= link_to "Se connecter", user_session_path, class:"btn-text-blanc" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
  </div>
    <div class="container mt-3 text-center">
      <%= form_with url: "/", method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "input",
              style: "margin-left:26px; margin-right:29px;",
              placeholder: "Chercher un parc"
          %>
          <button class="loupe" style="margin-left:298px" type="submit">
            <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #7f7f7f;"></i>
          </button>
      <% end %>
  <div style="margin-top:2px" class="map-show"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
