  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1590509990541-edf999edee33?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
    <div class="container">
      <h1>ParkBuddies</h1>
      <br>
      <p>L'appli qui transforme les parcs  en terrains d'amitié</p>
      <p><strong>Connectez, Rencontrez, Partagez</strong></p>
      <br>
      <br>
<div class="col-md-4 text-center">
  <% if user_signed_in? %>
      <%= link_to "Voir les parcs", parks_path, class: "btn-vert-rond"%>
      <% else %>
        <%= link_to "S'inscrire", new_user_session_path, class:"btn-text-noir" %>
        <%= link_to "Se connecter", user_session_path, class:"btn-text-blanc" %>
      <% end %>
</div>
    </div>
  </div>


<div style="p-20" class="map-show"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
